@model IEnumerable<CPC02.Models.WLOGA>

@{
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}
<link rel="stylesheet" href="~/css/style3.css" />

<div class="title">@ViewBag.Title</div>
<div id="app" class="container">
    <div class="card">
        <div class="card-body">
            <div class="mb-3">
                <a href="@Url.Action("WorkLogEdit")"> <img src="~/image/icons/add.png" alt="新增" style="width: 30px; height: 30px;" /></a>
            </div>
            <div class="table-responsive" style="overflow-x: auto;">
                <table id="datatable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>序</th>
                            @if (ViewBag.Title == "部門人員記錄")
                            {
                                <th>員工</th>
                                <th>職稱</th>
                            }

                            <th>日期</th>
                            <th>工作內容</th>
                            <th>問題是否排除</th>
                            <th>備註</th>
                            <th>明日工作計畫</th>
                            <th>共同完成人員</th>
                            <th>是否完成</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("WorkLogEdit", new { LOG000 = item.LOG000 })" class="clickable-td">@(Model.ToList().IndexOf(item) + 1)</a>
                                </td>

                                @if (ViewBag.Title == "部門人員記錄")
                                {
                                    <td><a href="@Url.Action("WorkLogEdit", new { LOG000 = item.LOG000 })" class="clickable-td">@item.MName</a></td>
                                    <td><a href="@Url.Action("WorkLogEdit", new { LOG000 = item.LOG000 })" class="clickable-td">@item.MPosition</a></td>
                                }
                                <td>
                                    <a href="@Url.Action("WorkLogEdit", new { LOG000 = item.LOG000 })" class="clickable-td">@item.LOG001.ToString("yyyyMMdd")</a>
                                </td>
                                <td>
                                    <a href="@Url.Action("WorkLogEdit", new { LOG000 = item.LOG000 })" class="clickable-td">@(item.LOG002??"　")</a>
                                </td>
                                <td>
                                    <a href="@Url.Action("WorkLogEdit", new { LOG000 = item.LOG000 })" class="clickable-td">@(item.LOG003??"　")</a>
                                </td>
                                <td>
                                    <a href="@Url.Action("WorkLogEdit", new { LOG000 = item.LOG000 })" class="clickable-td">@(item.LOG004??"　")</a>
                                </td>
                                <td>
                                    <a href="@Url.Action("WorkLogEdit", new { LOG000 = item.LOG000 })" class="clickable-td">@(item.LOG005??"　")</a>
                                </td>
                                <td>
                                    <a href="@Url.Action("WorkLogEdit", new { LOG000 = item.LOG000 })" class="clickable-td">@(item.LOG006??"　")</a>
                                </td>
                                <td>
                                    <a href="@Url.Action("WorkLogEdit", new { LOG000 = item.LOG000 })" class="clickable-td">@(item.LOG007 ? "是" : "否")</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
      document.addEventListener('DOMContentLoaded', () => {
     const successMessage = '@TempData["SuccessMessage"]';
     if (successMessage) {
         alert(successMessage);
     }
 });
    $(document).ready(function () {
        $('#datatable').DataTable({
        });
    });

</script>
