<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <script src="~/Scripts/vue3/vue.min.js"></script>
    <script src="~/Scripts/jquery/jquery-3.7.1.js"></script>
    <link rel="stylesheet" href="~/css/style3.css" />

    <!-- DataTables 核心樣式與腳本 -->
    <script src="~/Scripts/datatable/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/bootstrap/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="~/css/datatable/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="~/css/datatable/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/Scripts/bootstrap.bundle.min.js" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

@{
    string currentLang = (string)Session["Culture"] ?? "zh-TW";
    string MName = (string)Session["MName"] ?? "zh-TW";
    int permission = 0;
    if (Session["Permission"] != null)
    {
        int.TryParse(Session["Permission"].ToString(), out permission);
    }
}

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">cpc System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            工作記錄
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="@Url.Action("WorkLogList", "Common")">個人工作記錄</a></li>                            
                            <li><a class="dropdown-item  @(permission<2?"disabled":"")"  href="@Url.Action("ManageLogList", "Common")">部門人員記錄</a></li>

                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @MName 登入中
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="@Url.Action("LogLogin","Member")">登出</a></li>
                            </ul>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year- cpc直得科技股份有限公司 CHIEFTEK PRECISION CO., LTD. </p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
