@using Newtonsoft.Json

@{
    ViewBag.Title = "訪談追蹤記錄";
    Layout = "~/Views/Shared/_LayoutBusiness.cshtml";
    string currentLang = (string)Session["Culture"] ?? "zh-TW";
}

<style>
    .form-label {
        text-align: left;
        margin-bottom: 5px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }

    .form-check {
        text-align: left;
        margin-bottom: 5px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }

    .col-md-4 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-control {
        display: block;
        width: 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }

    .red-text {
        color: red;
    }
</style>


<div id="app" class="container">

    <div class="d-flex align-items-center">
        <a href="@Url.Action("ExRecordList", "Business", new {INT000=ViewBag.INT000})" class="btn btn-secondary me-2">
            <img src="~/image/icons/back.png" alt="返回" style="width: 20px; height: 20px;" />
            @(currentLang == "zh-TW" ? "返回" : "Back")
        </a>
        @if (Session["Perm_U"] != null && Session["Perm_U"].ToString()[1] == 'Y')
        {
            <button v-bind:class="isEditing ? 'btn btn-outline-primary me-2' : 'btn btn-primary me-2'"
                    v-on:click="toggleEditMode">
                {{ currentLanguage === 'zh-TW' ? (isEditing ? '取消編輯' : '編輯') : (isEditing ? 'Cancel' : 'Edit') }}
            </button>
        }
        <div class="flex-grow-1 text-center title">
            @(currentLang == "zh-TW"
                ? $"訪談追蹤記錄 - {ViewBag.INTRAModel}"
                : $"Interview Tracking - {ViewBag.INTRAModel}")
        </div>
    </div>

    <form v-on:submit.prevent="submitForm" method="post" action="@Url.Action("ExRecordEdit", new { IsUpdate = ViewBag.IsUpdate })" enctype="multipart/form-data">
        <input type="hidden" name="INT999" v-model="formData.INT999" />
        <input type="hidden" name="INT000" v-model="formData.INT000" />
        <input type="hidden" name="Mid" v-model="formData.Mid" />
        <input type="hidden" name="IP" v-model="formData.IP" />

        <div class="d-flex">
            <label for="INT003" class="mb-0 me-3">
                @(currentLang == "zh-TW" ? "聯絡方式" : "Type")<span class="red-text">*</span>
            </label>
            <div class="d-flex gap-2">
                <div v-for="option in currentTypeOptions" :key="option.value" class="form-check">
                    <input class="form-check-input"
                           type="radio"
                           :value="option.value"
                           name="INT003"
                           v-model="formData.INT003"
                           v-bind:disabled="!isEditing"
                           required />
                    <label class="form-check-label">
                        {{ option.label }}
                    </label>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <label for="INT001" class="form-label">
                    @(currentLang == "zh-TW" ? "追蹤日期" : "Interview Date")<span class="red-text">*</span>
                </label>
                <input type="date" class="form-control" name="INT001" v-model="formData.INT001" v-bind:disabled="!isEditing" required />
            </div>
        </div>

        <div>
            <label for="INT002" class="form-label">
                @(currentLang == "zh-TW" ? "內容" : "Content")
            </label>
            <textarea class="form-control" name="INT002" v-model="formData.INT002" v-bind:disabled="!isEditing" rows="10"></textarea>
        </div>
        <div>
            <label for="INT004" class="form-label">
                @(currentLang == "zh-TW" ? "後續步驟" : "Next steps")
            </label>
            <textarea class="form-control" name="INT004" v-model="formData.INT004" v-bind:disabled="!isEditing" rows="5"></textarea>
        </div>
        <div class="text-center" v-if="isEditing">
            <button type="submit" class="btn btn-primary">
                @(currentLang == "zh-TW" ? "存檔" : "Save")
            </button>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    isEditing: '@ViewBag.IsUpdate'!== 'True',

                    currentLanguage: '@currentLang',
                    formData: @Html.Raw(JsonConvert.SerializeObject(Model, new JsonSerializerSettings
                                        {
                                            ReferenceLoopHandling = ReferenceLoopHandling.Ignore
                                        })),
                    typeOptions: {
                        1: { zh: "到訪記錄", en: "Visit Record" },
                        2: { zh: "電話記錄", en: "Phone Record" },
                        3: { zh: "Email", en: "via emails" },
                        4: { zh: "線上會議", en: "On-line meeting" },
                        5: { zh: "視訊", en: "Video Conference" },
                        6: { zh: "來訪", en: "Visitor Record" }
                    },
                    Level: {
                        1: { zh: "1(高)", en: "One(High)" },
                        2: { zh: "2", en: "Two" },
                        3: { zh: "3", en: "Three" },
                        4: { zh: "4", en: "Four" },
                        5: { zh: "5(低)", en: "Five(Low)" }
                    },
                    currentTypeOptions: []
                };
            },
            created() {
                this.updateTypeOptions();
            },
            watch: {
                currentLanguage() {
                    this.updateTypeOptions();
                }
            },
            methods: {
                toggleEditMode() {
                    this.isEditing = !this.isEditing;
                },

                updateTypeOptions() {
                    this.currentTypeOptions = Object.entries(this.typeOptions).map(([key, option]) => ({
                        value: parseInt(key), // 保留鍵值
                        label: this.currentLanguage === 'zh-TW' ? option.zh : option.en
                    }));
                },
                submitForm() {
                    const isConfirmed = window.confirm(this.currentLanguage === 'zh-TW' ? "資料是否無誤？" : "Is the data correct?");
                    if (isConfirmed) {
                        const form = document.querySelector('form');
                        form.submit();
                    }
                }
            }
        });
        app.mount('#app');
    </script>
}
