@model IEnumerable<CPC02.Models.INTRE>

@{
    ViewBag.Title = "訪談追蹤記錄";
    Layout = "~/Views/Shared/_LayoutBusiness.cshtml";
    string currentLang = (string)Session["Culture"] ?? "zh-TW";
    var members = ViewBag.Members as List<CPC02.Models.Member>;
    var intraModels = (List<CPC02.Models.INTRA>)ViewBag.INTRAModel;
}
<style>
    table#datatable th,
    table#datatable td {
        font-size: 12px;
        padding: 4px;
    }

    .btn img {
        width: 16px;
        height: 16px;
    }



    table#datatable th {
        font-size: 14px;
    }

    table {
        table-layout: auto;
    }

        table#datatable td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 150px;
        }

    .clickable-td {
        display: block;
        color: inherit;
        text-decoration: none;
        cursor: pointer;
    }

        .clickable-td:hover {
            color: inherit;
            text-decoration: none;
        }
</style>

<link rel="stylesheet" href="~/css/style2.css" />

<div class="d-flex align-items-center">
    <a href="@Url.Action("RecordList", "Business", new {INT000=ViewBag.INTRB.INT999 })" class="btn btn-secondary">
        <img src="~/image/icons/back.png" style="width: 20px; height: 20px;" /> @(currentLang=="zh-TW"? "返回" : "Back")
    </a>
    <div class="flex-grow-1 text-center title">
        @(ViewBag.INTRB?.INT001 != null
    ? (currentLang == "zh-TW"
        ? $"訪談追蹤記錄 - {ViewBag.INTRB.INT001}"
        : $"Interview Tracking - {ViewBag.INTRB.INT001}")
    : (currentLang == "zh-TW" ? "訪談追蹤記錄" : "Interview Tracking"))
    </div>
</div>


<div id="app" class="container mt-5">
    <div class="card">
        <div class="card-body">
            <div class="mb-3">
                @if (ViewBag.INT000 != null && Session["Perm_C"] != null && Session["Perm_C"].ToString()[1] == 'Y')
                {
                    <a href="@Url.Action("ExRecordEdit", new {INT999=ViewBag.INT000})"> <img src="~/image/icons/add.png" alt="新增" style="width: 30px; height: 30px;" /></a>
                }
            </div>
            <div class="table-responsive" style="overflow-x: auto;">
                <table id="datatable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>@(currentLang == "zh-TW" ? "序" : "No.")</th>
                            <th>@(currentLang == "zh-TW" ? "訪談/記錄人員" : "Interviewer")</th>
                            <th>@(currentLang == "zh-TW" ? "追蹤日期" : "Tracking Date")</th>
                            <th>@(currentLang == "zh-TW" ? "聯絡方式" : "Contact")</th>
                            <th>@(currentLang == "zh-TW" ? "內容" : "Content")</th>
                            <th>@(currentLang == "zh-TW" ? "後續步驟" : "Next steps")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var member = members.FirstOrDefault(m => m.Mem000 == item.Mid);

                            <tr>
                                <td><a href="@Url.Action("ExRecordEdit", new { INT000 = item.INT000 })" class="clickable-td">@(Model.ToList().IndexOf(item) + 1)</a></td>
                                <td><a href="@Url.Action("ExRecordEdit", new { INT000 = item.INT000 })" class="clickable-td">@(member != null ? member.Mem001 : "未找到會員")</a></td>
                                <td><a href="@Url.Action("ExRecordEdit", new { INT000 = item.INT000 })" class="clickable-td">@item.INT001</a></td>
                                <td>
                                    <a href="@Url.Action("ExRecordEdit", new { INT000 = item.INT000 })" class="clickable-td">
                                        @switch (item.INT003)
                                        {
                                            case 1:
                                                @(currentLang == "zh-TW" ? Html.Raw("到訪記錄") : Html.Raw("Visit Record"))
                                                break;
                                            case 2:
                                                @(currentLang == "zh-TW" ? Html.Raw("電話記錄") : Html.Raw("Phone Record"))
                                                break;
                                            case 3:
                                                @(currentLang == "zh-TW" ? Html.Raw("Email") : Html.Raw("via emails"))
                                                break;
                                            case 4:
                                                @(currentLang == "zh-TW" ? Html.Raw("線上會議") : Html.Raw("On-line meeting"))
                                                break;
                                            case 5:
                                                @(currentLang == "zh-TW" ? Html.Raw("視訊") : Html.Raw("Video Conference"))
                                                break;
                                            case 6:
                                                @(currentLang == "zh-TW" ? Html.Raw("來訪記錄") : Html.Raw("Visitor Record"))
                                                break;
                                        }
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("ExRecordEdit", new { INT000 = item.INT000 })" class="clickable-td">
                                        @(string.IsNullOrEmpty(item.INT002) ? "　" : (item.INT002.Length > 10 ? item.INT002.Substring(0, 10) + "..." : item.INT002))
                                    </a>
                                </td>

                                <td>
                                    <a href="@Url.Action("ExRecordEdit", new { INT000 = item.INT000 })" class="clickable-td">
                                        @(string.IsNullOrEmpty(item.INT004) ? "　": (item.INT004.Length > 10 ? item.INT004.Substring(0, 10) + "..." : item.INT004))
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
      document.addEventListener('DOMContentLoaded', () => {
     const successMessage = '@TempData["SuccessMessage"]';
     if (successMessage) {
         alert(successMessage);
     }
 });
    $(document).ready(function () {
        $('#datatable').DataTable({
            ordering: true
        });
    });

document.querySelector('body').addEventListener('change', function(e) {
    if (e.target && e.target.type === 'file') {
        const fileInput = e.target;
        if (fileInput.files.length > 0) {
            fileInput.form.submit();  // 提交表單
        }
    }
});
</script>
