@model IEnumerable<CPC02.Models.INTRC>

@{
    ViewBag.Title = "報價系統";
    Layout = "~/Views/Shared/_LayoutBusiness.cshtml";
    string currentLang = (string)Session["Culture"] ?? "zh-TW";
    var members = ViewBag.Members as List<CPC02.Models.Member>;
    var intraModels = (List<CPC02.Models.INTRA>)ViewBag.INTRAModel;
}

<style>
    .btn {
        font-size: 16px;
        background-color: #6c757d;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    table#datatable th,
    table#datatable td {
        font-size: 12px;
        padding: 4px;
        white-space: nowrap;
    }

    .btn img {
        width: 16px;
        height: 16px;
    }

    .btn {
        font-size: 12px;
        padding: 5px 10px;
    }

    table#datatable th {
        font-size: 14px;
    }

    table {
        table-layout: auto;
    }

        table#datatable td {
            word-wrap: break-word;
            max-width: 50px;
            white-space: normal;
        }

    .clickable-td {
        display: block;
        color: inherit;
        text-decoration: none;
        cursor: pointer;
    }

        .clickable-td:hover {
            color: inherit;
            text-decoration: none;
        }
</style>

<link rel="stylesheet" href="~/css/style2.css" />

<div class="d-flex align-items-center">
    <a href="@Url.Action("InterviewRecordList", "Business", new { Mid2 = Session["Mid2"]?.ToString(), INT001 = Session["INT001"]?.ToString(), INT006 = Session["INT006"]?.ToString() })" class="btn btn-secondary">
        <img src="~/image/icons/back.png" style="width: 20px; height: 20px;" /> @(currentLang=="zh-TW"? "返回" : "Back")
    </a>
    <div class="flex-grow-1 text-center title">
        @(currentLang == "zh-TW"? $"報價系統": $"Quotation System")
    </div>
</div>
@if (ViewBag.INT000 == null)
{
    <form method="get" class="form-inline justify-content-center mb-4">
        <div class="input-group" style="margin-top:20px">
            <label for="Sales" class="form-label">
                @(currentLang == "zh-TW" ? "業務人員" : "Sales Representative")
            </label>
            <select id="Sales" name="Sales" class="form-control">
                <option value="" @(string.IsNullOrEmpty(Request.QueryString["Sales"]) ? "selected" : "")>
                    @(currentLang == "zh-TW" ? "請選擇" : "Please Select")
                </option>
                @if (ViewBag.Members != null)
                {
                    foreach (var member in ViewBag.Members)
                    {
                        <option value="@member.Mem000" @(Request.QueryString["Sales"] == member.Mem000.ToString() ? "selected" : "")>
                            @member.Mem001
                        </option>
                    }
                }
            </select>

            <label for="Name" class="mr-3" style="margin-left: 10px;">
                @(currentLang == "zh-TW" ? "客戶名稱" : "Customer Name")
            </label>
            <input type="text" id="Name" name="Name" class="form-control"
                   value="@Request.QueryString["Name"]" style="margin-right: 10px;" placeholder="
@(currentLang == "zh-TW" ? "請輸入關鍵字" : "Enter Keyword")" />


            <label for="status" class="mr-3" style="margin-left: 10px;">
                @(currentLang == "zh-TW" ? "訂單狀態:" : "Order Status")
            </label>
            <select id="status" name="status" class="form-control" style="margin-right: 10px;">
                <option value="" @(string.IsNullOrEmpty(Request.QueryString["status"]) ? "selected" : "")>
                    @(currentLang == "zh-TW" ? "請選擇" : "Please Select")
                </option>
                <option value="0" @(Request.QueryString["status"] == "0" ? "selected" : "")>
                    @(currentLang == "zh-TW" ? "追蹤中" : "In Progress")
                </option>
                <option value="1" @(Request.QueryString["status"] == "1" ? "selected" : "")>
                    @(currentLang == "zh-TW" ? "已結案" : "Closed")
                </option>
                <option value="2" @(Request.QueryString["status"] == "2" ? "selected" : "")>
                    @(currentLang == "zh-TW" ? "正式訂單" : "Official Order")
                </option>
                <option value="3" @(Request.QueryString["status"] == "3" ? "selected" : "")>
                    @(currentLang == "zh-TW" ? "已銷貨" : "Sold Goods")
                </option>
            </select>


            <div class="input-group-append">
                <button class="btn btn-primary" type="submit" style="margin-left: 10px;">
                    @(currentLang == "zh-TW" ? "搜索" : "Search")
                </button>
            </div>
        </div>
    </form>
}


<div id="app" class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            @if (ViewBag.INT000 != null)
            {
                var item = intraModels?.FirstOrDefault(x => x.INT000 == ViewBag.INT000);
                <p class="info-line">
                    @(currentLang == "zh-TW" ? "國家" : "Country"): @(item.INT006 ?? "N/A")
                    | @(currentLang == "zh-TW" ? "區域" : "Region"): @(item.INT007 ?? "N/A")
                    | @(currentLang == "zh-TW" ? "聯絡人" : "Contact Person"): @(item.INT008 ?? "N/A")
                    | @(currentLang == "zh-TW" ? "電話" : "Phone"): @(item.INT004 ?? "N/A")
                    | @(currentLang == "zh-TW" ? "分機" : "Fax"): @(item.INT005 ?? "N/A")
                </p>
            }
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="mb-3">
                @if (ViewBag.INT000 != null && Session["Perm_C"] != null && Session["Perm_C"].ToString()[2] == 'Y')
                {
                    <a href="@Url.Action("QuoteEdit", new { INT999 = ViewBag.INT000 })"> <img src="~/image/icons/add.png" alt="新增" style="width: 30px; height: 30px;" /></a>
                }
            </div>
            <div class="table-responsive" style="overflow-x: auto;">
                <table id="datatable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>@(currentLang == "zh-TW" ? "序" : "No.")</th>
                            @if (Session["Per"] != null && (bool)Session["Per"])
                            {
                                <th>@(currentLang == "zh-TW" ? Html.Raw("主管審核") : Html.Raw("Manager<br>Review"))</th>
                                @*<th>@(currentLang == "zh-TW" ? Html.Raw("主管回覆") : Html.Raw("Manager<br>Reply"))</th>*@
                            }
                            <th>@(currentLang == "zh-TW" ? Html.Raw("報價PDF") : Html.Raw("Quotation<br>PDF"))</th>
                            <th>@(currentLang == "zh-TW" ? Html.Raw("報價日期") : Html.Raw("Quotation<br>Date"))</th>
                            <th>@(currentLang == "zh-TW" ? Html.Raw("交期") : Html.Raw("Deadline"))</th>
                            <th>@(currentLang == "zh-TW" ? Html.Raw("業務人員") : Html.Raw("Sales<br>Representative"))</th>
                            <th>@(currentLang == "zh-TW" ? Html.Raw("客戶名稱") : Html.Raw("Customer<br>Name"))</th>
                            <th>@(currentLang == "zh-TW" ? Html.Raw("國家") : Html.Raw("Country"))</th>
                            <th>@(currentLang == "zh-TW" ? Html.Raw("地區") : Html.Raw("Region"))</th>

                            <th>@(currentLang == "zh-TW" ? Html.Raw("圖面上傳") : Html.Raw("Image<br>Upload"))</th>
                            <th>@(currentLang == "zh-TW" ? Html.Raw("圖面下載") : Html.Raw("Image<br>Download"))</th>
                            <th>@(currentLang == "zh-TW" ? "訂單狀態" : "Order Status")</th>
                            <th>@(currentLang == "zh-TW" ? "單別" : "Order Type")</th>
                            <th>@(currentLang == "zh-TW" ? "單號" : "Order Number")</th>
                            <th>@(currentLang == "zh-TW" ? "多筆上傳" : "MultipleFiles")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var member = members.FirstOrDefault(m => m.Mem000 == item.Mid);
                            var intra = intraModels.FirstOrDefault(m => m.INT000 == item.INT999);

                            <tr>
                                <td><a href="@Url.Action("QuoteEdit", new { INT000 = item.INT000,IsUpdate=true })" class="clickable-td">@(Model.ToList().IndexOf(item) + 1) </a></td>
                                @if (Session["Per"] != null && (bool)Session["Per"])
                                {
                                    <td>
                                        @if (item.Status == 0)
                                        {
                                            <a href="@Url.Action("ChangeStatusForINTRC", new { id = item.INT000,id2=item.INT999,status=1 })">
                                                <img src="~/image/icons/check.png" alt="主管審核" style="width: 20px; height: 20px;" />
                                            </a>
                                        }
                                    </td>

                                }
                                <td>
                                    <a href="@Url.Action("PrintQuote", new {  INT000 = item.INT000,INT999=ViewBag.INT000})" target="_blank">
                                        <img src="~/image/icons/file_download.png" alt="下載" style="width: 20px; height: 20px;" />
                                    </a>
                                </td>
                                <td><a href="@Url.Action("QuoteEdit", new { INT000 = item.INT000,IsUpdate=true })" class="clickable-td">@(item.INT001?? "　")</a></td>
                                <td><a href="@Url.Action("QuoteEdit", new { INT000 = item.INT000,IsUpdate=true })" class="clickable-td">@(item.INT004?? "　")</a></td>
                                <td><a href="@Url.Action("QuoteEdit", new { INT000 = item.INT000,IsUpdate=true })" class="clickable-td">@(member != null ? member.Mem001 : "未選擇會員")</a></td>
                                <td><a href="@Url.Action("QuoteEdit", new { INT000 = item.INT000,IsUpdate=true })" class="clickable-td">@(intra.INT001?? "　")</a></td>
                                <td><a href="@Url.Action("QuoteEdit", new { INT000 = item.INT000,IsUpdate=true })" class="clickable-td">@(intra.INT006?? "　")</a></td>
                                <td><a href="@Url.Action("QuoteEdit", new { INT000 = item.INT000,IsUpdate=true })" class="clickable-td">@(intra.INT007?? "　")</a></td>
                                <td>
                                    <form action="@Url.Action("UploadQuote", new { INT000 = item.INT000, INT999 = item.INT999 })" method="post" enctype="multipart/form-data">
                                        <input type="file" name="fileUpload" style="display: none;" data-id="@item.INT000" />
                                        <a onclick="document.querySelector('[data-id=\'@item.INT000\']').click()">
                                            <img src="~/image/icons/file_upload.png" alt="附近上傳" style="width: 20px; height: 20px;" />
                                        </a>
                                        <input type="submit" value="上傳" style="display: none;" />
                                    </form>
                                </td>
                                <td>
                                    @if (item.INT006 != null)
                                    {
                                        <a href="@Url.Action("DownloadQuote", new {  INT000 = item.INT000, INT999 = item.INT999 })" target="_blank">
                                            <img src="~/image/icons/file_download.png" alt="附件下載" style="width: 20px; height: 20px;" />
                                        </a>
                                    }
                                </td>
                                <td>
                                    <a href="@Url.Action("QuoteEdit", new { INT000 = item.INT000, IsUpdate = true })" class="clickable-td">
                                        @(item.Status == 0
                                ? (currentLang == "zh-TW" ? "追蹤中" : "Tracking")
                                : (item.Status == 1
                                    ? (currentLang == "zh-TW" ? "已結案" : "Closed")
                                    : (item.Status == 2
                                        ? (currentLang == "zh-TW" ? "正式訂單" : "Official Order")
                                        : (item.Status == 3
                                            ? (currentLang == "zh-TW" ? "已銷貨" : "Goods Sold")
                                            : "")
                                      )
                                  )
                              )
                                    </a>

                                </td>
                                <td><a href="@Url.Action("QuoteEdit", new { INT000 = item.INT000,IsUpdate=true })" class="clickable-td">@(item.INT009?? "　")</a></td>
                                <td><a href="@Url.Action("QuoteEdit", new { INT000 = item.INT000,IsUpdate=true })" class="clickable-td">@(item.INT010?? "　")</a></td>
                                <td>
                                    <a href="@Url.Action("MultipleFiles","Common", new { SourceID = item.INT000, layout = "~/Views/Shared/_LayoutBusiness.cshtml"})">
                                        <img src="~/image/icons/folder.png" style="width: 20px; height: 20px;" />
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
      document.addEventListener('DOMContentLoaded', () => {
     const successMessage = '@TempData["SuccessMessage"]';
     if (successMessage) {
         alert(successMessage);
     }
 });
    $(document).ready(function () {
        $('#datatable').DataTable({
            ordering: true
        });
    });

document.querySelector('body').addEventListener('change', function(e) {
    if (e.target && e.target.type === 'file') {
        const fileInput = e.target;
        if (fileInput.files.length > 0) {
            fileInput.form.submit();  // 提交表單
        }
    }
});
</script>
