@model IEnumerable<CPC02.Models.INTRB>

@{
    ViewBag.Title = "客戶訪談記錄";
    Layout = "~/Views/Shared/_LayoutBusiness.cshtml";
    string currentLang = (string)Session["Culture"] ?? "zh-TW";
    var members = ViewBag.Members as List<CPC02.Models.Member>;
    var intraModels = (List<CPC02.Models.INTRA>)ViewBag.INTRAModel;
}
<style>
    table#datatable th,
    table#datatable td {
        font-size: 12px;
        padding: 4px;
    }

    .btn img {
        width: 16px;
        height: 16px;
    }



    table#datatable th {
        font-size: 14px;
    }

    table {
        table-layout: auto;
    }

        table#datatable td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 150px;
        }

    .clickable-td {
        display: block;
        color: inherit;
        text-decoration: none;
        cursor: pointer;
    }

        .clickable-td:hover {
            color: inherit;
            text-decoration: none;
        }
</style>

<link rel="stylesheet" href="~/css/style2.css" />

<div class="d-flex align-items-center">
    <a href="@Url.Action("InterviewRecordList", "Business", new { Mid2 = Session["Mid2"]?.ToString(), INT001 = Session["INT001"]?.ToString(), INT006 = Session["INT006"]?.ToString() })" class="btn btn-secondary">
        <img src="~/image/icons/back.png" style="width: 20px; height: 20px;" /> @(currentLang=="zh-TW"? "返回" : "Back")
    </a>
    <div class="flex-grow-1 text-center title">
        @(ViewBag.INTRA?.INT001 != null
    ? (currentLang == "zh-TW"
        ? $"客戶訪談記錄 - {ViewBag.INTRA.INT001}"
        : $"Visiting Report - {ViewBag.INTRA.INT001}")
    : (currentLang == "zh-TW" ? "客戶訪談記錄" : "Visiting Report"))
    </div>
</div>

@if (ViewBag.INT000 == null)
{
    <form method="get" class="form-inline justify-content-center mb-4">
        <div class="input-group" style="margin-top:20px">
            <label for="Sales" class="form-label">
                @(currentLang == "zh-TW" ? "業務人員" : "Sales Representative")
            </label>
            <select id="Sales" name="Sales" class="form-control">
                <option value="" @(string.IsNullOrEmpty(Request.QueryString["Sales"]) ? "selected" : "")>
                    @(currentLang == "zh-TW" ? "請選擇" : "Please Select")
                </option>
                @if (ViewBag.Members != null)
                {
                    foreach (var member in ViewBag.Members)
                    {
                        <option value="@member.Mem000" @(Request.QueryString["Sales"] == member.Mem000.ToString() ? "selected" : "")>
                            @member.Mem001
                        </option>
                    }
                }
            </select>

            <label for="Name" class="mr-3" style="margin-left: 10px;">
                @(currentLang == "zh-TW" ? "客戶名稱" : "Customer Name")
            </label>
            <input type="text" id="Name" name="Name" class="form-control"
                   value="@Request.QueryString["Name"]" style="margin-right: 10px;" placeholder="@(currentLang == "zh-TW" ? "請輸入關鍵字" : "Enter Keyword")" />

            <div class="input-group-append">
                <button class="btn btn-primary" type="submit" style="margin-left: 10px;">
                    @(currentLang == "zh-TW" ? "搜索" : "Search")
                </button>
            </div>
        </div>
    </form>
}

<div id="app" class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            @if (ViewBag.INT000 != null)
            {
                var item = intraModels?.FirstOrDefault(x => x.INT000 == ViewBag.INT000);
                <p class="info-line">
                    @(currentLang == "zh-TW" ? "國家" : "Country"): @(item.INT006 ?? "N/A")
                    | @(currentLang == "zh-TW" ? "區域" : "Region"): @(item.INT007 ?? "N/A")
                    | @(currentLang == "zh-TW" ? "聯絡人" : "Contact Person"): @(item.INT008 ?? "N/A")
                    | @(currentLang == "zh-TW" ? "電話" : "Phone"): @(item.INT004 ?? "N/A")
                    | @(currentLang == "zh-TW" ? "分機" : "Fax"): @(item.INT005 ?? "N/A")
                </p>
            }
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="mb-3">
                @if (ViewBag.INT000 != null && Session["Perm_C"] != null && Session["Perm_C"].ToString()[1] == 'Y')
                {
                    <a href="@Url.Action("RecordEdit", new {INT999=ViewBag.INT000})"> <img src="~/image/icons/add.png" alt="新增" style="width: 30px; height: 30px;" /></a>
                }
            </div>
            <div class="table-responsive" style="overflow-x: auto;">
                <table id="datatable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>@(currentLang == "zh-TW" ? "序" : "No.")</th>
                            <th>@(currentLang == "zh-TW" ? "編輯" : "Edit")</th>
                            <th>@(currentLang == "zh-TW" ? Html.Raw("重要性") : Html.Raw("Priority"))</th>

                            @if (Session["Per"] != null && (bool)Session["Per"])
                            {
                                <th>@(currentLang == "zh-TW" ? Html.Raw("主管審核") : Html.Raw("Manager<br>Review"))</th>
                                <th>@(currentLang == "zh-TW" ? Html.Raw("主管回覆") : Html.Raw("Manager<br>Reply"))</th>
                            }
                            @if (Session["Mid2"]?.ToString() != "27")
                            {
                                <th>@(currentLang == "zh-TW" ? Html.Raw("訪談PDF") : Html.Raw("Report<br>PDF"))</th>
                                <th>@(currentLang == "zh-TW" ? Html.Raw("訪談Word") : Html.Raw("Report<br>Word"))</th>
                            }

                            <th>@(currentLang == "zh-TW" ? Html.Raw("訪談/記錄人員") : Html.Raw("Interviewer"))</th>
                            <th>@(currentLang == "zh-TW" ? Html.Raw("訪談日期") : Html.Raw("Date"))</th>
                            @if (Session["Mid2"]?.ToString() != "27")
                            {
                                <th>@(currentLang == "zh-TW" ? Html.Raw("訪談方式") : Html.Raw("Method"))</th>
                            }
                            @if ((Session["Mid2"]?.ToString() == "27"))
                            {
                                <th>
                                    @(currentLang == "zh-TW" ? "客戶名稱" : "Customer Name")
                                </th>
                            }
                            else
                            {
                                <th>@(currentLang == "zh-TW" ? "公司" : "Company")</th>
                                <th>@(currentLang == "zh-TW" ? "專案名稱" : "Project Name")</th>
                            }

                            <th>@(currentLang == "zh-TW" ? "內容" : "Contents")</th>
                            @if ((Session["Mid2"]?.ToString() != "27"))
                            {
                                @*<th>@(currentLang == "zh-TW" ? Html.Raw("附件下載(old)") : Html.Raw("Download (old)"))</th>*@
                                <th>@(currentLang == "zh-TW" ? Html.Raw("附件上傳") : Html.Raw("MultipleFiles"))</th>
                            }

                            @if ((Session["Mid2"]?.ToString() == "27"))
                            {
                                <th>@(currentLang == "zh-TW" ? Html.Raw("訪談追蹤記錄") : Html.Raw("Interview tracking"))</th>
                            }
                            <th>@(currentLang == "zh-TW" ? Html.Raw("標記") : Html.Raw("Flag"))</th>


                            @if (Session["Perm_D"] != null && Session["Perm_D"].ToString()[1] == 'Y')
                            {
                                <th>@(currentLang == "zh-TW" ? Html.Raw("刪除") : Html.Raw("Delete"))</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var member = members.FirstOrDefault(m => m.Mem000 == item.Mid);
                            var intra = intraModels.FirstOrDefault(m => m.INT000 == item.INT999);
                            <tr>
                                <td>@(Model.ToList().IndexOf(item) + 1)</td>
                                <td>
                                    <a href="@Url.Action("RecordEdit", new { INT000 = item.INT000 })" class="clickable-td">
                                        <img src="~/image/icons/edit.png" style="width: 20px; height: 20px;" />
                                    </a>
                                </td>
                                <td>@item.Level</td>

                                @if (Session["Per"] != null && (bool)Session["Per"])
                                {
                                    <td>
                                        @if (item.Status == 0)
                                        {
                                            <a href="@Url.Action("ChangeStatusForINTRB", new { id = item.INT000,id2=item.INT999,status=1 })">
                                                <img src="~/image/icons/check.png" alt="主管審核" style="width: 20px; height: 20px;" />
                                            </a>
                                        }
                                    </td>
                                    <td>
                                        <a href="@Url.Action("RecordReply", new { INT000 = item.INT000 })">
                                            <img src="~/image/icons/reply.png" alt="主管回覆" style="width: 20px; height: 20px;" />
                                        </a>
                                    </td>
                                }
                                @if (Session["Mid2"]?.ToString() != "27")
                                {
                                    <td>
                                        <a href="@Url.Action("PrintRecord", new {  INT000 = item.INT999,intrb=item.INT000})" target="_blank">
                                            <img src="~/image/icons/file_download.png" alt="下載" style="width: 20px; height: 20px;" />
                                        </a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("PrintRecord", new {  INT000 = item.INT999,intrb=item.INT000,type="docx"})" target="_blank">
                                            <img src="~/image/icons/file_download.png" alt="下載" style="width: 20px; height: 20px;" />
                                        </a>
                                    </td>
                                }

                                <td>@(member != null ? member.Mem001 : "未找到會員")</td>

                                <td>@item.INT005</td>
                                @if (Session["Mid2"]?.ToString() != "27")
                                {
                                    <td>
                                        @switch (item.INT002)
                                        {
                                            case 1:
                                                @(currentLang == "zh-TW" ? Html.Raw("到訪記錄") : Html.Raw("Visit Record"))
                                                break;
                                            case 2:
                                                @(currentLang == "zh-TW" ? Html.Raw("電話記錄") : Html.Raw("Phone Record"))
                                                break;
                                            case 3:
                                                @(currentLang == "zh-TW" ? Html.Raw("Email") : Html.Raw("via emails"))
                                                break;
                                            case 4:
                                                @(currentLang == "zh-TW" ? Html.Raw("線上會議") : Html.Raw("On-line meeting"))
                                                break;
                                            case 5:
                                                @(currentLang == "zh-TW" ? Html.Raw("視訊") : Html.Raw("Video Conference"))
                                                break;
                                            case 6:
                                                @(currentLang == "zh-TW" ? Html.Raw("來訪記錄") : Html.Raw("Visitor Record"))
                                                break;
                                        }
                                    </td>
                                }

                                <td>@item.INT001</td>
                                @if ((Session["Mid2"]?.ToString() != "27"))
                                {
                                    <td>@(item.INT007?? "　")</td>
                                }
                                <td style="word-wrap: break-word; white-space: normal;">
                                    @if (!string.IsNullOrEmpty(item.INT004))
                                    {
                                        @(
                                                !string.IsNullOrEmpty(item.INT004)
                                                    ? (item.INT004.Length > 10
                                                        ? item.INT004.Substring(0, 10) + "..."
                                                        : item.INT004)
                                                    : "　"
                                            )

                                    }
                                </td>
                                @if ((Session["Mid2"]?.ToString() != "27"))
                                {
                                    @*<td>
                                        @if (item.INT003 != null)
                                        {
                                            <a href="@Url.Action("DownloadRecord", new {  INT000 = item.INT000, INT999 = item.INT999 })" target="_blank">
                                                <img src="~/image/icons/file_download.png" alt="附件下載" style="width: 20px; height: 20px;" />
                                            </a>
                                        }
                                    </td>*@
                                    <td>
                                        <a href="@Url.Action("MultipleFiles","Common", new { SourceID = item.INT000,SourceDB="INTRB",name=intra.INT001, layout = "~/Views/Shared/_LayoutBusiness.cshtml"})">
                                            <img src="~/image/icons/folder.png" style="width: 20px; height: 20px;" />
                                        </a>
                                    </td>
                                }


                                @if ((Session["Mid2"]?.ToString() == "27"))
                                {
                                    <td>
                                        <a href="@Url.Action("ExRecordList", new { INT000 = item.INT000 })" class="clickable-td">
                                            @(item.LastDate?.ToString("yyyy/MM/dd") ?? "1911/01/01")
                                        </a>
                                    </td>
                                }

                                @if ((Session["Mid2"]?.ToString() == "27") && Convert.ToInt32(Session["Perm_Flag"]) >= 90)
                                {
                                    <td>
                                        <img src="~/image/icons/@(item.INT013 == true ? "banner.png" : "square.png")"
                                             class="toggle-flag"
                                             data-id="@item.INT000"
                                             style="width: 20px; height: 20px; cursor: pointer;" />
                                    </td>
                                }
                                else if (Session["Mid2"]?.ToString() == "27")
                                {
                                    <td>
                                        @if (item.INT013 == true)
                                        {
                                            <img src="@Url.Content("~/image/icons/banner.png")"
                                                 style="width: 20px; height: 20px; cursor: pointer;" />
                                        }


                                    </td>
                                }
                                else
                                {
                                    <td>
                                        @if (item.INT014 == true)
                                        {
                                            <img src="@Url.Content("~/image/icons/banner.png")"
                                                 style="width: 20px; height: 20px; cursor: pointer;" />
                                        }
                                    </td>
                                }


                                @if (Session["Perm_D"] != null && Session["Perm_D"].ToString()[1] == 'Y')
                                {
                                    <td>
                                        <a href="@Url.Action("ChangeStatusForINTRB", new { id = item.INT000,id2=item.INT999,status=-1 })">
                                            <img src="~/image/icons/delete.png" style="width: 20px; height: 20px;" />
                                        </a>
                                    </td>
                                }

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
      document.addEventListener('DOMContentLoaded', () => {
     const successMessage = '@TempData["SuccessMessage"]';
     if (successMessage) {
         alert(successMessage);
     }
 });
    $(document).ready(function () {
        $('#datatable').DataTable({
            ordering: true
        });
    });

document.querySelector('body').addEventListener('change', function(e) {
    if (e.target && e.target.type === 'file') {
        const fileInput = e.target;
        if (fileInput.files.length > 0) {
            fileInput.form.submit();  // 提交表單
        }
    }
});

    $(document).on("click", ".toggle-flag", function () {
        var img = $(this);
        var id = img.data("id");

        $.post("/Business/ToggleFlag", { id: id }, function (response) {
            if (response.success) {
                var newSrc = response.newStatus ? "/image/icons/banner.png" : "/image/icons/square.png";
                img.attr("src", newSrc);
            } else {
            }
        });
    });
</script>
